// GRID
$grid-width = 1080px
$gutter = 2rem
$grid-color = rgba(red, .2)
$gutter-color = transparent

// COLORS
$oj-light 		= #fafafc
$oj-violet 		= #5200cc
$oj-ck          = #060E9F
$oj-red         = #e43857
$oj-green		= #1afcaf
$oj-green-free	= #6ba568
$oj-palegreen	= #b6efbb
$oj-palegreen2	= #a4d7a9
$oj-dark-green  = #66A16C
$oj-pink 		= #FDEBE8
$oj-yellow		= #f7e98b
$oj-dark 		= #333333
$oj-grey	 	= #d8d8d8
$oj-dim 		= #151424

// FONTS
$Lemur = 'Lemur', system-ui, sans-serif

// IMAGES
$map-marker-svg = url('../assets/ui/map-marker.svg')
$img-pw = url('../assets/ui/jazdow-pw.png')

// BASE FONT
$base_font_family = $Lemur
$extra_font_family = $Lemur

// BASE SIZES
$base_font_size = 16px
$base_line_height = 1.6em
$base_weight= 400

// BASE COLORS
$base_font_color    = $oj-dark
$base_link_color    = $oj-green-free
$base_hover_color   = $oj-green-free
$table_border_color = $oj-grey

// CUSTOM
$video-ratio = 75vw
$vidheight = 100vh
